html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
  font-family: 'Kanit', sans-serif;
  min-height: 110%;
  scrollbar-width: none;
  font-weight: 600;
}

@font-face {
  font-family: "Unicons";
  src: url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-6.woff') format('woff2');
}


.form-control, .form-label {
  color: #4d4d4d;
  font-weight: 300;
}


.wrapper {
  position: relative;
}

.container {
  position: relative;
  max-width: fit-content;
  margin: 50px auto;
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  color: #4d4d4d;
}

.select-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 40px; 
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.select-btn, .model li{
  display: flex;
  align-items: center;
}

.select-btn i {
  font-size: 30px;
  transition: transform 0.3s linear;
  flex-shrink: 0;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  overflow: visible;
  box-sizing: border-box;
}

.wrapper.active .content {
  display: block;
}

.content .search {
  position: relative;
}

.search {
  position: relative;
  top: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.search i{
  position: absolute;
  left: 25px;
  line-height: 45px;
  color: #999;
}

.search input{
  height: 45px;
  width: 100%;
  border-radius: 10px;
  padding: 0 15px 0 43px;
  border: 1px solid #ddd;
  transition: border 0.3s ease-in-out;
}

.content .model{
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
}

.model{
  list-style: none;
  padding: 10px;
  margin: 0;
  max-height: 250px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-weight: 100;
}

.model li{
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.model li:hover{
  background-color: #f1f1f1;
}



.model::-webkit-scrollbar {
  width: 7px;
}

.model::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.model::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.switch-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 600px;
}

.switch {
  width: 50vw;
  height: 50vw;
  max-width: 1000px; 
  max-height: 1000px;
  min-width: 1000px; 
  min-height: 1000px;
}

.switch__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #f9f9f9;
}

.switch:first-child {
  top: 30%;
  left: 40%;
}

.switch:last-child {
  top: 50%;
  left: 60%;
}

.form-control {
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  border: transparent;
  border-radius: 10px;
}

.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 120px; 
  height: auto;
  margin: 0 auto 10px;
  display: block;
}

.btn-primary {
  margin-top: 10px;
  background-color: #0fbbff;
  border-color: transparent;
  border-radius: 25px;
  width: 180px;
  height: 50px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #0fbbff;
  transform: scale(1.05);
}

.btn-container {
  text-align: center;
}

input[type="file"] {
  border-radius: 10px;
  outline: none;
}
